Q1. Write a program to calculate the electricity bill    
    using only if statement? (accept number of unit from user)        
according to the following criteria:        

Unit Pr    i    ce
First 100 units no ch    a    rge
Next 100 units Rs 5 per         unit
After 200 units Rs 10 pe    r     unit
(For example, if input unit is 350 than total bill amount is Rs2000). Lets exp    l    ain...
For first 100 no         charges
Now you have 250 unit     r    emaining
100-200 you need to pay – 1    0    0*5 = 500
Now 200-100 you need to pay 15    0    *10 = 1500
Total = 500+1500 = 2000

In [114]:
unit =int(input("enter unit"))
if(unit<=100):
    print("no charges its free")
if(unit>100 and unit<=200):
    total_cost = (unit-100)*5
    print("total cost",total_cost)
if(unit>200):
    total_cost = ((unit-200)*10)+500
    print("total cost",total_cost)

enter unit 400

total cost 2500

Q2. Write a program to accept percentage from the user and display
    the grade according to the following criteria:

    Marks Grade
    > 90 A
    > 80 and <= 90 B
    >= 60 and <= 80 C
    below 60 D

In [45]:
percentage = int(input("enter percentage"))
if(percentage>=90 and percentage<=100):
    print("Grade A")
elif(percentage>=80 and percentage<=90):
    print("Grade B")
elif(percentage>=60 and percentage<=80):
    print("Grade C")
elif(percentage<=60):
    print("Grade D")
else:
    print("invalid input percentage greater more than")

enter percentage 1000

invalid input percentage greater more than

Q3. Accept the age of 4 people and display the youngest one?

In [68]:
a = (input("enter your a"))
b = (input("enter your b"))
c = (input("enter your c"))
d = (input("enter your d"))


if(a<b and a<c and a<d):
    print("first people is youngest")
elif(b<a and b<c and b<d):
    print("second people is youngest")
elif(c<a and c<b and c<d):
    print("third people is youngest")
else:
    (d<a and d<b and d<c)
    print("fourth people is youngest")

enter your a 45
enter your b 64
enter your c 38
enter your d 52

third people is youngest

Q4. A company decided to give bonus to employee    
according to following criteria:    

Time period of Service Bonu    s

More than 10 years     10%

>=6 and <=    10 8%

Less than 6 y    ears 5%

Ask user for their salary and years of service and     print the
net bonus amount?

In [134]:
salary = int(input("enter your salary"))
year = int(input("enter your years of service"))


if(year>10):
    bonus=10/100*salary
    print("the net bonus amount of people", bonus)
elif(year>=6 and year<=10):
    bonus=8/100*salary
    print("the net bonus amount of people", bonus)
else:
    bonus=6/100*salary
    print("the net bonus amount of people", bonus)

enter your salary 30000
enter your years of service 5

the net bonus amount of people 1800.0

Q5. Accept three numbers from the user and display the second largest number??

In [96]:
a = int(input("enter number"))
b = int(input("enter number"))
c = int(input("enter number"))
if(b<a<c):
    print("A is second largest",a)
elif(b>a>c):
    print("A is second largest",a)
elif(a<b<c):
    print("B is second largest",b)
elif(a>b>c):
    print("B is second largest",b)
elif(a<c<b):
    print("C is second largest",c)
elif(a>c>b):
    print("C is second largest",c)

enter number 34
enter number 54
enter number 66

B is second largest 54

In [ ]:
Q6. Accept the marked price from the user and calculate
    the Net amount as (Marked Price – Discount) to pay
    according to following criteria:

    Marked Price Discount
    >10000 20%
    >7000 and <=10000 15%
    <=7000 10%

In [158]:
price = int(input("enter market price"))
if(price>10000):
    discount=20/100*price
    final_amount=price-discount
    print("final amount of pay",final_amount)
elif(price>7000 and price<=10000):
    discount=15/100*price
    final_amount=price-discount
    print("final amount of pay",final_amount)
else:
    discount=10/100*price
    final_amount=price-discount
    print("final amount of pay",final_amount)

enter market price 10000

final amount of pay 8500.0

Q7. Accept the marks of English, Math and Science,    
Social Studies Subject and display the stream allotted    
according to following:    

All Subjects more than 80 marks — Science Stre    am

English >80 and Math, Science above 50 — Commerce St    ream

English > 80 and social studies > 80 — Humanities

In [63]:
english = int(input("enter your english marks"))
math =  int(input("enter your math marks"))
science = int(input("enter your science marks"))
social_science = int(input("enter your social science"))

if(english>80 and math>80 and science>80 and social_science>80):
    print("science stream alloted")
elif(english>80 and math>50 and science>50):
    print("commerce stream alloted")
else:
    (english>80 and social_science>80)
    print("humanities stream alloted")

enter your english marks 84
enter your math marks 48
enter your science marks 45
enter your social science 82

humanities stream alloted

Q8. Write a program to display "Hello" if a number entered 
by user is a multiple of five, otherwise print "Bye"?

In [74]:
number = int(input("enter your digit"))
if(number%5==0):
    print("hello")
else:
    print("bye")

enter your digit 23

bye

Q9. Write a program to check whether the last digit of a number(entered by user) is divisible by 3 or not?

In [82]:
number = int(input("enter your number"))
last_digit=number%10
if(last_digit%3==0):
    print("it is divisible by 3")
else:
    print("it is not divisible by 3")

enter your number 459

it is divisible by 3

Q10. Write a program to check whether a number entered is three-digit number or not?

In [92]:
number = input("enter your number")
if(len(number)==3):
    print(" it is three digit number")
else:
    print(" it is not three digit number ")

enter your number 585

 it is three digit number

In [94]:
number = input("enter your number")
if(len(number)==3):
    print(" it is three digit number")
else:
    print(" it is not three digit number ")

enter your number 10245

 it is not three digit number